<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="inicio">
<div class="div">
<div class="overlap">
<div class="rectangle"></div>
<div class="text-wrapper">What is StayHealthy?</div> 
<p class="your-health-is-our">
    &#34; Your health is our priority. Find and book medical appointments with the best professionals comfort of your home.&#34;
</p>
<div class="rectangle-2"></div>
<div class="text-wrapper-2">Book Appointment</div>
</div>
<div class="text-wrapper-3">Servicios ofrecidos</div> <div class="text-wrapper-4">Servicio1</div>
<p class="p">
    Lorem ipsum dolor sit amet. In ducimus voluptate sit rerum similique a neque quas et molestias perspiciatis nam ipsam alias id animi rerum. Eum quia molestiae est velit provident aut voluptatibus veritatis? Est deserunt placeat nam reprehenderit culpa est dolores voluptatem hic excepturi similique id modi inventore.
</p>
<img class="img" src="img/rectangle-5.svg" /> <img class="vector" src="img/vector-1.svg" /> <div class="div-2">
<div class="navbar">
<div class="text-wrapper-5">Inicio</div>
<p class="STAY-healthy"><span class="span">STAYH</span> <span class="text-wrapper-6">ealthy</span></p>
<div class="text-wrapper-7">Reservar Cita</div>
<div class="text-wrapper-8">Iniciar Sesion</div> <div class="div-2"></div>
<div class="text-wrapper-9">Home</div>
<div class="text-wrapper-10">Book Appointment</div>
<div
class="text-wrapper-11">Reviews</div>
<div class="text-wrapper-12">Log In</div>
<p class="STAY-healthy"><span class="span">STAYH</span> <span class="text-wrapper-6">ealthy</span></p> <img class="solar-health-bold" src="img/solar-health-bold.svg" />
</div>
</div>
</div>
</div>
</body>
</html>