.desktop {
    background-color: #ffffff; 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff; 
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-2.svg);
    background-size: 100% 100%;
  }
  
  .desktop .rectangle { 
    width: 697px;
    height: 669px;
    top: 177px; 
    left: 371px;
    background-color: #80b4d9; 
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .rectangle-2 {
    width: 545px;
    height: 72px;
    top: 288px;
    left: 456px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .rectangle-3 { 
    width: 545px; 
    height: 72px; 
    top: 382px;
    left: 456px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .rectangle-4 {
    width: 430px;
    height: 72px; 
    top: 527px;
    left: 505px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .rectangle-5 { 
    width: 430px; 
    height: 72px; 
    top: 612px;
    left: 505px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .rectangle-6 {
    width: 282px;
    height: 81px;
    top: 732px;
    left: 579px;
    background-color: #0077cc;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper { 
    position: absolute; 
    top: 300px;
    left: 478px;
    font-family: "Judson-Italic", Helvetica; 
    font-weight: 400; 
    font-style: italic; 
    color: #979797; 
    font-size: 40px; /* Tamaño ajustado */
    letter-spacing: 0;
    line-height: normal; /* Corregido el valor */
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 394px;
    left: 471px;
    font-family: "Judson-Italic", Helvetica;
    font-weight: 400; 
    font-style: italic; 
    color: #979797; 
    font-size: 40px; /* Tamaño ajustado */
    letter-spacing: 0; 
    line-height: normal; /* Corregido el valor */
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-3 { 
    position: absolute; 
    top: 453px;
    left: 777px;
    font-family: "Encode Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px; /* Tamaño ajustado */
    letter-spacing: 0;
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 453px;
    left: 466px;
    font-family: "Encode Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px; /* Tamaño ajustado */
    letter-spacing: 0; 
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .text-wrapper-5 { 
    position: absolute; 
    top: 541px; 
    left: 584px;
    font-family: "Encode Sans-Regular", Helvetica;
    font-weight: 400;
    color: #bbbbbb; 
    font-size: 32px; /* Tamaño ajustado */
    letter-spacing: 0;
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 625px;
    left: 579px;
    font-family: "Encode Sans-Regular", Helvetica;
    font-weight: 400;
    color: #bbbbbb; 
    font-size: 32px; /* Tamaño ajustado */
    letter-spacing: 0; 
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .text-wrapper-7 { 
    position: absolute; 
    top: 224px;
    left: 409px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px; /* Tamaño ajustado */
    letter-spacing: 0;
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .text-wrapper-8 {
    position: absolute; 
    top: 744px; 
    left: 666px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700; 
    color: #ffffff; 
    font-size: 36px; /* Tamaño ajustado */
    text-align: center; 
    letter-spacing: 0; 
    line-height: normal; /* Corregido el valor */
  }
  
  .desktop .devicon-google { 
    position: absolute; 
    width: 38px; 
    height: 38px;
    top: 544px;
    left: 529px;
  }
  
  .desktop .devicon-facebook {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 629px;
    left: 529px;
  }
  
  .desktop .vector { 
    position: absolute; 
    width: 33px; 
    height: 28px;
    top: 1308px; 
    left: -863px;
  }